<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- title -->
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- icon -->
    <link rel="icon" href="/images/nodepop.png" type="image/png">
    <!-- <link rel="icon" href="/images/ico.jpg" type="image/jpg"> -->
  </head>
  <body>
    <!-- navbar -->
    <!-- Image and text -->
    <nav class="navbar navbar-dark" style="background-color: rgb(20, 193, 173);">
    
      <a class="navbar-brand" href="#">
        <img src="/images/ico.jpg" width="60" height="60" class="d-inline-block align-top" alt="<%= title %>">
        <span class="navbar-title-h1"><%= title %></span>
      </a>

      <!-- /change-locale va a poner una cookie de idioma y recargar la página -->
      <div class='der'>
        <% if(!session.authUser) { %> 
          <a class="navbar-brand" href="/login">
            <%= __('Login') %>
          </a>
        <% } else { %>
          <a class="navbar-brand" href="/logout">
            <%= __('Logout') %>
          </a>
        <% } %>

        <% getLocales().forEach(locale => { %>
          <a class="navbar-brand" href="/change-locale/<%= locale %>">
            <%= locale.toUpperCase() %>
          </a>
        <% }) %> 
        &nbsp;
      </div>
       
    </nav>
    <!-- navbar-end -->

    <main>

      <div class="alert alert-info" role="alert">
        <%= __('Welcome to') %> <%= title %>!
      </div>
      
    
    <% if (data[0].length > 0) { %>

    <div class="row row-cols-1 row-cols-md-3">
      <% data[0].forEach(ad => { %>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="/images/<%= ad.photo %>" class="card-img-top" alt="<%= ad.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= ad.name %></h5>
            <p class="card-text">Price: <%= ad.price %> &euro;</p>
            <p class="card-text">Type: <%= ((ad.sell) ? 'Sell' : 'Buy') %></p>
            <p class="card-text">Tags: <%= ad.tags %></p>
            <p class="card-text"><%= ad.detail %></p>
          </div>
          <div class="card-footer text-center">
              <% 
              const dateUpdatedAt = new Date(ad.updatedAt);
              const dateCreatedAt = new Date(ad.createdAt);
              %>
              <small class="text-muted">Last updated: <%= dateUpdatedAt.toDateString() %> - <%= dateUpdatedAt.getUTCHours() %>:<%= dateUpdatedAt.getUTCMinutes() %>:<%= dateUpdatedAt.getUTCSeconds() %></small>
              <br />
              <small class="text-muted">( Created at: <%= dateCreatedAt.toDateString() %> - <%= dateCreatedAt.getUTCHours() %>:<%= dateCreatedAt.getUTCMinutes() %>:<%= dateCreatedAt.getUTCSeconds() %> )</small>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <% } else { %>

    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= __("There aren't results with the specified search parameters.") %></h4>
      <hr>
      <p><%= __("Verify that:") %></p>
      <p>&#149; <%= __("The sell value can be:") %> true or false</p>
      <p>&#149; <%= __("The tags value can be:") %> <%= data[1] %></p>
      <p>&#149; <%= __("The price value can be:") %></p>
      <p>&nbsp;&nbsp;&nbsp;&#149; 'ExactPrice': price=50</p>
      <p>&nbsp;&nbsp;&nbsp;&#149; 'minPrice-maxPrice': price=0-300</p>
      <p>&nbsp;&nbsp;&nbsp;&#149; 'minPrice-': price=0-</p>
      <p>&nbsp;&nbsp;&nbsp;&#149; '-maxPrice': price=-300</p>
      <p>&#149; <%= __("The decimal price separator must be") %> '<strong>.</strong>': price=230.15</p>
    </div>

    <% } %>

    </main>
  </body>
</html>